<launch>
<!--    &lt;!&ndash; MAP TO ODOM &ndash;&gt;-->
<!--    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" />-->


<!--    &lt;!&ndash; Depth Image -> Pointcloud &ndash;&gt;-->
<!--    <node pkg="nodelet" type="nodelet" args="manager" name="depth_image_nodelet_manager" output="screen"/>-->
<!--    <node pkg="nodelet" type="nodelet" name="pepper_pointcloud" args="load depth_image_proc/point_cloud_xyz depth_image_nodelet_manager &#45;&#45;no-bond">-->
<!--        <remap from="camera_info" to="/naoqi_driver/camera/depth/camera_info"/>-->
<!--        <remap from="image_rect" to="/naoqi_driver/camera/depth/image_raw"/>-->
<!--    </node>-->


<!--    &lt;!&ndash; Pointcloud -> Laserscan &ndash;&gt;-->
<!--    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pepper_fake_laser">-->
<!--        <remap from="cloud_in" to="points" />-->
<!--        <param name="scan_time" type="double" value="0.2" />-->
<!--        <param name="range_min" type="double" value="0.4" />-->
<!--        <param name="range_max" type="double" value="8.0" />-->
<!--        <param name="use_inf" type="boolean" value="true" />-->
<!--        <param name="min_height" type="double" value="0.05" />-->
<!--        <param name="max_height" type="double" value="1.0" />-->
<!--        <param name="target_frame" type="string" value="base_link" />-->
<!--        <param name="concurrency_level" type="int" value="0" />-->
<!--    </node>-->

<!--    &lt;!&ndash; Run Gmapping &ndash;&gt;-->
<!--    <node pkg="gmapping" type="slam_gmapping" name="pepper_gmapping">-->
<!--&lt;!&ndash;        <remap from="odom" to="odom" />&ndash;&gt;-->
<!--        <param name="map_update_interval" value="0.3" />-->
<!--        <param name="maxUrange" value="8.0" />-->
<!--        <param name="srr" value="0.1" />-->
<!--        <param name="srt" value="0.2" />-->
<!--        <param name="str" value="0.1" />-->
<!--        <param name="stt" value="0.2" />-->
<!--        <param name="linearUpdate" value="0.1" />-->
<!--        <param name="angularUpdate" value="0.1" />-->
<!--        <param name="xmin" value="-5.0" />-->
<!--        <param name="ymin" value="-5.0" />-->
<!--        <param name="xmax" value="5.0" />-->
<!--        <param name="ymax" value="5.0" />-->
<!--        <param name="delta" value="0.04" />-->
<!--    </node>-->

<!--    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">-->
<!--        <remap from="/scan" to="/naoqi_driver/laser"/>-->
<!--        <param name="map_update_interval" value="2" />-->
<!--        <param name="linearUpdate" value="0.1" />-->
<!--        <param name="angularUpdate" value="0.1" />-->
<!--        <param name="temporalUpdate" value=".5" />-->
<!--        <param name="xmin" value="-10." />-->
<!--        <param name="ymin" value="-10." />-->
<!--        <param name="xmax" value="10." />-->
<!--        <param name="ymax" value="10." />-->
<!--        <param name="particles" value="300" />-->
<!--        <param name="maxRange" value="1.5" />-->
<!--        <param name="maxUrange" value="1.1" />-->
<!--        <param name="delta" value="0.02" />-->
<!--    </node>-->

    <!--Depthimage_to_laserscan-->
<!--    <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" >-->
<!--        <remap from="camera_info" to="/naoqi_driver/camera/depth/camera_info"/>-->
<!--        <remap from="image" to="/naoqi_driver/camera/depth/image_raw"/>-->

<!--        <param name="scan_height" value="3"/>-->
<!--        <param name="output_frame_id" value="base_link"/>-->

<!--        <remap from="scan" to="/fake_scan"/>-->
<!--    </node>-->
<!--    <node pkg="nodelet" type="nodelet" args="manager" name="depth_image_nodelet_manager" output="screen"/>-->
<!--    <node pkg="nodelet" type="nodelet" name="pepper_pointcloud" args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet depth_image_nodelet_manager &#45;&#45;no-bond">-->
<!--        <remap from="camera_info" to="/naoqi_driver/camera/depth/camera_info"/>-->
<!--        <remap from="image" to="/naoqi_driver/camera/depth/image_raw"/>-->
<!--        <remap from="scan" to="/fake_scan"/>-->

<!--        <param name="output_frame_id" value="base_link"/>-->
<!--    </node>-->

  <!-- Gmapping -->
<!--  <node pkg="gmapping" type="slam_gmapping" name="pepper_slam_gmapping" output="screen">-->
<!--&lt;!&ndash;    <remap from="scan" to="/naoqi_driver/laser"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <remap from="scan" to="/fake_scan"/>&ndash;&gt;-->
<!--    <remap from="scan" to="pepper/laser_2"/>-->

<!--&lt;!&ndash;    <param name="odom_frame" value="/pepper/odom"/>&ndash;&gt;-->
<!--    <param name="base_frame" value="/base_footprint"/>-->

<!--    <param name="map_update_interval" value="1.0"/>-->
<!--    <param name="maxUrange" value="12.0"/>-->


<!--    <param name="sigma" value="0.05"/>-->
<!--    <param name="kernelSize" value="1"/>-->
<!--    <param name="lstep" value="0.05"/>-->
<!--    <param name="astep" value="0.05"/>-->
<!--    <param name="iterations" value="5"/>-->
<!--    <param name="lsigma" value="0.075"/>-->
<!--    <param name="ogain" value="3.0"/>-->
<!--    <param name="lskip" value="0"/>-->

<!--    <param name="minimumScore" value="100"/>-->
<!--    <param name="srr" value="0.1"/>-->
<!--    <param name="srt" value="0.1"/>-->
<!--    <param name="str" value="0"/>-->
<!--    <param name="stt" value="0.02"/>-->
<!--    <param name="linearUpdate" value="0.5"/>-->

<!--    <param name="angularUpdate" value="0.1"/>-->
<!--    <param name="temporalUpdate" value="0.1"/>-->
<!--    <param name="resampleThreshold" value="0.5"/>-->

<!--    <param name="particles" value="50"/>-->
<!--    <param name="xmin" value="-50.0"/>-->
<!--    <param name="ymin" value="-50.0"/>-->
<!--    <param name="xmax" value="50.0"/>-->
<!--    <param name="ymax" value="50.0"/>-->
<!--    <param name="delta" value="0.05"/>-->
<!--    <param name="transform_publish_period" value="0.01"/>-->

<!--    <param name="llsamplerange" value="0.01"/>-->
<!--    <param name="llsamplestep" value="0.01"/>-->
<!--    <param name="lasamplerange" value="0.005"/>-->
<!--    <param name="lasamplestep" value="0.005"/>-->
<!--&lt;!&ndash;    <param name="maxRange" value="12"/>&ndash;&gt;-->
<!--  </node>-->

    <!-- Run Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="pepper_gmapping">
<!--        <remap from="odom" to="/pepper_robot/naoqi_driver/odom" />-->
<!--        <remap from="scan" to="/fake_scan"/>-->
        <remap from="scan" to="pepper/laser_2"/>

<!--    <param name="odom_frame" value="/pepper/odom"/>-->
        <param name="base_frame" value="/base_footprint"/>

        <param name="map_update_interval" value="0.3" />
        <param name="maxUrange" value="8.0" />
        <param name="srr" value="0.1" />
        <param name="srt" value="0.2" />
        <param name="str" value="0.1" />
        <param name="stt" value="0.2" />
        <param name="linearUpdate" value="0.1" />
        <param name="angularUpdate" value="0.1" />
        <param name="xmin" value="-5.0" />
        <param name="ymin" value="-5.0" />
        <param name="xmax" value="5.0" />
        <param name="ymax" value="5.0" />
        <param name="delta" value="0.04" />
    </node>

</launch>
