<launch>
<!--    &lt;!&ndash; MAP TO ODOM use when no gmapping &ndash;&gt;-->
<!--    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom 100" />-->


<!--    &lt;!&ndash; HUMANOID LOCALIZATION&ndash;&gt;-->
<!--    <node pkg="humanoid_localization" type="localization_node" name="humanoid_localization" output="screen" >-->
<!--        <remap from="laser_sensor" to="/fake_scan"/>-->
<!--        <remap from="point_cloud" to="/points"/>-->
<!--        <remap from="base_frame_id" to="base_link"/>-->
<!--        &lt;!&ndash;        <param name="odom_frame_id" value="odom" />&ndash;&gt;-->
<!--&lt;!&ndash;        <param name="base_frame_id" value="base_link" />&ndash;&gt;-->
<!--&lt;!&ndash;        <param name="global_frame_id" value="map" />&ndash;&gt;-->
<!--&lt;!&ndash;        <param name="num_particles" value="500" />&ndash;&gt;-->
<!--&lt;!&ndash;        <param name="use_raycasting" value="true" />&ndash;&gt;-->
<!--&lt;!&ndash;        <param name="use_imu" value="enabled" />&ndash;&gt;-->
<!--    </node>-->


    <!-- Run octomap server-->
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
        <param name="resolution" value="0.1" /> <!-- changed value from 0.05-->
<!--        <param name="frame_id" type="string" value="map" />-->

    <!-- maximum range to integrate (speedup!) -->
        <param name="sensor_model/max_range" value="4.0" />
        <param name="latch" value="0"/>
<!--        <param name="filter_speckles" value="true" />-->
        <param name="occupancy_max_z" value="1.4"/>

        <param name="filter_ground" type="bool" value="true"/>
        <param name="ground_filter/distance" value="0.05" />
        <param name="ground_filter/angle" value="0.05" />
        <param name="ground_filter/plane_distance" value="0.2" />


    <!-- data source to integrate (PointCloud2) -->
<!--        <remap from="/cloud_in" to="points" />-->
        <remap from="/cloud_in" to="/pepper/camera/depth/points"/>
    </node>



</launch>


    <!--    &lt;!&ndash; Pointcloud -> Laserscan &ndash;&gt;-->
<!--    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pepper_fake_laser">-->
<!--        <remap from="cloud_in" to="points" />-->
<!--        <param name="scan_time" type="double" value="0.2" />-->
<!--        <param name="range_min" type="double" value="0.4" />-->
<!--        <param name="range_max" type="double" value="8.0" />-->
<!--        <param name="use_inf" type="boolean" value="true" />-->
<!--        <param name="min_height" type="double" value="0.05" />-->
<!--        <param name="max_height" type="double" value="1.0" />-->
<!--        <param name="target_frame" type="string" value="base_link" />-->
<!--        <param name="concurrency_level" type="int" value="0" />-->
<!--    </node>-->

<!--    &lt;!&ndash; Run Gmapping &ndash;&gt;-->
<!--    <node pkg="gmapping" type="slam_gmapping" name="pepper_gmapping">-->
<!--        <remap from="odom" to="/naoqi_driver/odom" />-->
<!--        <param name="map_update_interval" value="0.3" />-->
<!--        <param name="maxUrange" value="8.0" />-->
<!--        <param name="srr" value="0.1" />-->
<!--        <param name="srt" value="0.2" />-->
<!--        <param name="str" value="0.1" />-->
<!--        <param name="stt" value="0.2" />-->
<!--        <param name="linearUpdate" value="0.1" />-->
<!--        <param name="angularUpdate" value="0.1" />-->
<!--        <param name="xmin" value="-5.0" />-->
<!--        <param name="ymin" value="-5.0" />-->
<!--        <param name="xmax" value="5.0" />-->
<!--        <param name="ymax" value="5.0" />-->
<!--        <param name="delta" value="0.04" />-->
<!--    </node>-->